.game {
    width: 600px;
    height: 300px;
    border: 1px solid #000000;
    margin: auto;
}

#dino {
    width: 70px;
    height: 70px;
    background-image: url(../images/dino.png);
    background-size: auto 70px;
    position: relative;
    top: 239px;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 239px;
    }
    30% {
        top: 200px;
    }
    50% {
        top: 161px;
    }
    80% {
        top: 200px;
    }
    100% {
        top: 239px;
    }
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 186px;
    left: 550px;
    background-image: url(../images/cactus.png);
    background-size: 20px 40px;
    animation: cactus-block 1.5s infinite linear;
}

@keyframes cactus-block {
    0% {
        left: 600px;
    }
    100% {
        left: -10px;
    }
}

