.grid {
    width: 305px;
    height: 305px;
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;

}

.controls button {
    width: 100px;
}

.grid div {
    width: 30px;
    height: 30px;
}

.snake {
    background: green;
    border: 1px solid green;
}

.apple {
    background: red;
    border-radius: 30px;
}

.popup {
    background: #eee;
    width: 150px;
    height: 150px;
    position: fixed;
    top: 46.5%;
    left: 46.5%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    box-shadow: 2px 2px 4px #000000;    
}