.grid {
    width: 305px;
    height: 305px;
    border: 1px solid black;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;

}

.controls button {
    width: 100px;
}

.grid div {
    width: 30px;
    height: 30px;
}

.snake {
    background: green;
    border: 1px solid green;
}

.apple {
    background: red;
    border-radius: 30px;
}
