<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#">
        <title>Login Web System</title>
    </head>
    <body>

        <% if(message) {%>
            <p><%= message %></p>
        <% }  %>
            
        <form action="/profiles" method="get">
            <input placeholder="username" name="username" />
            <input placeholder="password" name="password" />
            <button>login</button>
        </form>
        
    </body>
</html>  