<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Profiles Database</title>
    </head>
    <body>
        <div class="container">
            <div align="center">
                <form action="/profiles" method="post">
                    <table>
                        <tbody>
                            <tr>
                                <td> Welcome <span id="username"></span></td>
                                <td><button>logout</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <div style="margin-top: 30%;" align="center">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/games/snake">Snake Game</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <script>
        var url = new URL(window.location.href).searchParams;
        console.log(url.get("username"));
        document.getElementById("username").innerHTML = url.get("username");
        
    </script>
</html>  