<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#">
        <title>Profiles Database</title>
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td> Welcome</td>
                </tr>
            </tbody>
        </table>
    </body>
    <script>
        var url = new URL(window.location.href).searchParams;
        console.log(url.get("username"));
        
    </script>
</html>  