<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="#">
        <title>Profiles Database</title>
    </head>
    <body>
        <table>
            <tbody>
                <% if(data.length) { %>
                    <tr>
                        <tr>
                            <p>Welcome <%= data[0].username %> !</p>
                        </tr>
                    </tr>
                <% } else { %>
                    <tr>
                        <tr>
                            <p>No Profiles Found</p>
                        </tr>
                    </tr>
                <% } %>

            </tbody>
        </table>
    </body>
</html>  